@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-family: "Montserrat";
}

html {
    font-size: calc(0.8em + 0.7vw) !important;
}

body {
    background-color: #F5FFF8;
    font-family: 'Montserrat', sans-serif;
}

.mobile {
    display: none;
}

/***     NAVIGOINTI     ***/

.navbar {
    top: auto;
    z-index: 100;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: #F8FFFA;
    height: 111px;
    width: 100%;
    position: fixed;
    float: left;
}

#logo {
    width: 64px;
    height: 76px;
    top: 10px;
    box-sizing: content-box;
    padding-bottom: 10px;
    padding-left: 30px;
    cursor: pointer;
}

.nav-links ul {
    list-style: none;
    display: flex;
}

.nav-links li a {
    display: block;
    padding-left: 36px;
    color: #000000;
    cursor: pointer;
    z-index: 999;
}

.toggle-button {
    position: absolute;
    right: 6%;
    display: none;
    flex-direction: column;
    justify-content: space-between;
}

#toggle {
    font-size: 30px;
    color: #000000; 
    box-sizing: content-box;
}

/***     SISÄLTÖ      ***/

.section {
    width: 100%;
    height: 32em;
}

.content {
    height: 100%;
    width: 100%;
    padding: 2% 7% 7% 7%;
    text-align: center;
}

.content h1 {
    font-weight: lighter;
}

.content h2 {
    font-weight: Bold;
}

/** Aloitussivu **/

#Aloitussivu {
    background-color: #F5FFF8;
    padding-top: 80px;
    position: relative;
}

#Aloitussivu h1 {
    font-weight: bold;
    margin: 0.33em 0
}

#Aloitussivu h2 {
    font-weight: lighter;
    margin: 1em 0 0 0;
}

#Aloitussivu p {
    margin-top: 1em;
}

.outer-container {
    padding: 2em 0 0 0;
    display: flex;
    justify-content: center;
}

.video-wrapper {
    width: 40%;
}

.video {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; 
  height: 0;
  align-items: center;
}

.video iframe{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
  }

.videoteksti {
    text-align: center;
}

/** Mikä on **/

#Mikaon {
    background-color: #E9FFEF;
    text-align: center;
    position: relative;
}

.esittelyteksti {
    justify-content: center;
    align-items: center;
    padding: 0.7em 2em 2em 2em;
    text-align: left;
}

.esittelyteksti p {
    font-size: 0.9em;
}

.aikaajaljella {
    text-align: center;
    background-color: #5D8A6A;
    border-radius: 20px;
    padding: 0.5em;
    box-sizing: border-box;
    width: 11em;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    z-index: 1000;
}

.aikaajaljella p {
    font-weight: bold;
    color: #E9FFEF;
    font-size: 0.9em;
    margin-top: 0 !important;
}

#oilCounter {
    font-weight: bold;
    color: #E9FFEF;
    font-size: 0.9em;
}

/** Kenelle **/

#Kenelle {
    background-color: #F5FFF8;
    position: relative;
}

.kenelle-teksti {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 100%;
    flex-direction: column;
}

.kenelle-teksti a {
    padding: 0.8em;
    text-align: center;
    color:#FFF;
    background-color: #5D8A6A;
    font-size: 0.8em;
    cursor: pointer;
    font-weight: bold;
    margin-top: 0.8em;
    border-radius: 10px;
    border: none;
    text-decoration: none;
}

.popup-ukk {
    background-color: #5D8A6A;
    padding: 3em;
    font-size: 1em;
    width: auto;
}

.popup-ukk h2 {
    color: #41F0D5;
    margin-bottom: 2em;
}

.popup-ukk ul {
    color: #F5FFF8;
    list-style: none;
}

.popup-ukk ul li {
    padding-bottom: 2em;
}

.tekstijakuva {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tekstijakuva p {
    text-align: left;
    width: 95%;
    font-size: 0.8em;
}

.responsive {
    max-width: 290px;
    height: auto;
}

/** Artikkeleita **/

#Artikkelit {
    background-color: #E9FFEF;
    text-align: center;
    position: relative;
}


#Artikkelit p {
    margin: 0.5em 2em;
}

#Artikkelit ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: left;
    list-style: none;
}

#Artikkelit li {
    padding-top: 1em;
    font-weight: bold;
}

#Artikkelit li a:visited{
    text-decoration: none;
}

.popup-tiedote {
    background-color: #5D8A6A;
    padding: 3em;
    font-size: 1em;
    width: auto;
}

.popup-tiedote h2 {
    color: #41F0D5;
    margin-bottom: 2em;
}

.popup-tiedote p {
    color: #F5FFF8;
}

/** Vaikuta **/

#Vaikuta {
    background-color: #F5FFF8;
    text-align: center;
    position: relative;
}

#Vaikuta p {
    font-size: 1.3em;
}

#Vaikuta button{
    background-color: #5D8A6A;
    border: none;
    text-decoration: none;
    padding: 1em;
    text-align: center;
    color:#FFF;
    font-size: 1.5em;
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 1em;
    margin-top: 0.8em;
    border-radius: 10px;
}

#Vaikuta h2{
    font-weight: normal;
    font-size: 1.4em;
}

#vaikuta-content {
    padding: 1em;
}

#autakampanjaa {
    margin-top: 1em;
    font-weight: bold;
}

/** Tarinoita **/

#Tarinoita {
    background-color: #E9FFEF;
    position: relative;
}


.henkilo {
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding-bottom: 2em;
}

.henkilo img {
  overflow: hidden;
  width: 5em;
  height: 5em;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  z-index: 1;
}

.henkilo-teksti {
    display: inline-block;
    text-align: left;
    width: 70%;
}

.henkilo-teksti p {
    font-size: 0.7em;
}

/** Vinkkinurkka **/

#Vinkkinurkka {
    background-color: #F5FFF8;
    position: relative;
}

.tofront {
    z-index: 5;
}

#carousel-vinkki {
    background: #EEE;
    z-index: 5;
}

#submit {
    height: 2.5em;
    width: 55%;
    z-index: 1000;
}

#button {
    background-color: #5D8A6A;
    border: none;
    color:#FFF;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    height: 30px;
    padding: 4.5px;
    box-sizing: content-box;
    z-index: 5;
}

#forms {
    margin: 3em 0em 3em 0em;
    z-index: 5;
    position: relative;
}

#cell-vinkki {
  padding: 1em;
  width: 35%;
  height: 11rem;
  margin-right: 1em;
  background: #89d190;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  display: flex;
  word-wrap: break-word;   
  overflow-wrap: break-word;
  word-break: break-word;
  z-index: 5;
}

#cell-vinkki p {
    font-size: 0.65em;
    z-index: 5;
}

/** Liity **/

#Liity {
    background-color: #5D8A6A;
    border-top-left-radius: 15vw;
    position: relative;
    height: 30em;
}

.curvebox {
    width: 15vw;
    height: 15vw;
    background-color: #5D8A6A;
    position: absolute;
    right: 0;
    top: -15vw;
    z-index: 3;
}

.curved {
    width: 30vw;
    height: 30vw;
    background-color: #F5FFF8;
    position: absolute;
    right: 0;
    top: -30vw;
    border-radius: 15vw;
    z-index: 4;
}

.liitynyt {
    display: flex;
    justify-content: center;
}

#Liity h1 {
    color: #F5FFF8;
    font-weight: bold;
    font-size: 1.6em;
    width: 75vw;
    padding-top: 1em;
    padding-bottom: 1em;
}

#Liity p {
    color: #F5FFF8;
}

.parent {
    text-align: center;
}

#Liity ul {
    list-style-type: none;
    display: inline-block;
}

#Liity li {
    padding: 0.5em 0;
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    overflow: hidden;
}

#Liity li a {
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    overflow: hidden;
}

#Liity li img {
    width: 1.8em;
    height: 1.8em;
}

#Liity p {
    margin-left: 2em;
}

.logot {
    margin-top: 2em;
    padding-left: 3em;
    display: flex;
    justify-content: center;
}

.logot img {
    padding-right: 5em;
    width: 7em;
}

.jalka {
    padding-top: 3em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-style: none;
}

.jalka a {
    color: #E9FFEF;
}

/**Kulmagrafiikat**/

.topleft {
    position: absolute;
    top: -3px;
    z-index: 1;
    overflow: hidden;
}

.topleft img {
    width: 300px;
}

.topright {
    position: absolute;
    right: 0;
    top: -3px;
    z-index: 1;
    overflow: hidden;
}

.topright img {
    width: 300px;
}

.bottomleft {
    position: absolute;
    bottom: -3px;
    z-index: 1;
    overflow: hidden;
}

.bottomleft img {
    width: 300px;
}

.bottomright {
    position: absolute;
    right: 0;
    bottom: -3px;
    z-index: 1;
    overflow: hidden;
}

.bottomright img {
    width: 300px;
}

@media screen and (min-width: 2300px) {
    /** Aloitussivu **/

    #Aloitussivu {
        height: 35em; 
    }

    /** Kenelle **/ 

    .responsive {
        max-width: 600px;
        height: auto;
    }

}

@media screen and (max-width: 1500px) {

    /** Aloitussivu **/

    .video-wrapper {
        width: 50%;
    }

    /** Vaikuta **/

    #Vaikuta p {
        font-size: 1em;
    }

    /** Kulmagrafiikat **/

    .topleft img {
        width: 250px;
    }

    .topright img {
        width: 250px;
    }

    .bottomleft img {
        width: 250px;
    }

    .bottomright img {
        width: 250px;
    }
}

@media screen and (min-width: 1500px) {

    .esittelyteksti p {
        font-size: 1.05em;
    }

    /** Kenelle **/ 

    .responsive {
        max-width: 500px;
        height: auto;
    }

    .kenelle-teksti p {
        font-size: 0.85em;
    }

    /** Tarinat **/ 

    .henkilo-teksti p {
        font-size: 0.9em;
    }
}


/*-------- MOBIILI ---------*/

@media screen and (max-width: 950px) {

    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }

    .section {
        height: 33em;
    }

    h1 {
        font-size: 1.9em !important ;
    }
    
    /** Mobiili navigonti **/

    .nav-links ul {
        top: 0px;
        position: fixed;
        background: #5D8A6A;
        height: 110vh;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        clip-path: circle(0 at 90% -50%);
        -webkit-clip-path: circle(0 at 90% -50%);
        transition: all 1s ease-out;
        pointer-events: none;
        flex-wrap: wrap;
    }

    .nav-links ul li {
        padding-bottom: 1em;
        opacity: 0;
    }

    .nav-links li a {
        font-size: 1.4em;
        color: #FFFFFF;
    }

    .nav-links ul li:nth-child(1) {
        transition: all 0.5s ease 0.2s;
    }

    .nav-links ul li:nth-child(2) {
        transition: all 0.5s ease 0.2s;
    }

    .nav-links ul li:nth-child(3) {
        transition: all 0.5s ease 0.2s;
    }

    .nav-links ul li:nth-child(4) {
        transition: all 0.5s ease 0.2s;
    }

    .nav-links ul li:nth-child(5) {
        transition: all 0.5s ease 0.2s;
    }

    .nav-links ul li:nth-child(6) {
        transition: all 0.5s ease 0.2s;
    }

    .nav-links ul li.fade {
        opacity: 1;
    }

    .nav-links ul.active {
        clip-path: circle(calc(150vh + 150vw) at 90% -50%);
        -webkit-clip-path: circle(calc(150vh + 150vw) at 90% -50%);
        pointer-events: all;
    }

    #logo {
        position: fixed;
    }

    #toggle {
        z-index: 999;
    }

    .toggle-button {
        display: flex;
    }

    /** Aloitussivu **/

    #Aloitussivu {
        height: 37em; 
    }

    .video-wrapper {
        width: 80%;
    }

    .videoteksti {
        width: 100%;
        text-align: center;
    }

    .esittelyteksti p {
        font-size: 0.7em;
    }

    .esittelyteksti {
        padding: 0em 0.5em 0.5em 0.5em;
    }

    #oilCounter {
        font-size: 0.7em;
    }

    .aikaajaljella p {
        font-size: 0.7em;
    }

    /** Kenelle **/ 
    .tekstijakuva {
        flex-direction: column;
    }

    .tekstijakuva p {
        font-size: 0.7em;
    }

    .responsive {
        max-width: 210px;
        height: auto;
    }

    .kenelle-teksti button {
        font-size: 0.7em;
        padding: 0.7em;
        margin-top: 0.7em;
        
    }


    /** Artikkelit **/

    #Artikkelit p {
      margin: 0.5em;
      font-size: 0.9em;
    }

    /** Vaikuta **/

    #Vaikuta h2{
        font-size: 1em;
    }

    #Vaikuta button{
        font-size: 1.2em;
    }

    /** Tarinoita **/

    #carousel-tarinoita {
        background: #E9FFEF;
    }
    
    #cell-tarinoita img {
        height: 6em;
        width: 6em;
        margin-top: 5%;
        border-radius: 50%;
        padding: 1em;
    }
    
    #cell-tarinoita p{
        font-size: 0.85em;
        padding-top: 1em;
    }
    
    #cell-tarinoita {
        width: 100%;
        height: 20em;
        margin-right: 10px;
        margin-bottom: 10px;
        background: #E9FFEF;
        border-radius: 5px;
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    /** Vinkkinurkka **/

    #cell-vinkki {
        width: 66%;
    }

    /** Liity **/

    #Liity {
        height: 35em;
    }

    .jalka {
        padding-top: 1.5em;
    }

    /**Kulmagrafiikat**/

    .topleft img {
        width: 200px;
    }

    .topright img {
        width: 200px;
    }

    .bottomleft img {
        width: 200px;
    }

    .bottomright img {
        width: 200px;
    }
    
    .topleft {
        top: -2px;
    }
    
    .topright {
        top: -2px;
    }
    .bottomleft {
        bottom: -2px;
    }
    
    .bottomright {
        bottom: -2px;
    }
    
}

@media screen and (max-width: 700px) {
    /** Liity **/

    #Liity {
        height: 38em; 
    }
}

@media screen and (max-width: 650px) {
    /** Aloitussivu **/

    #Aloitussivu {
        height: 35em; 
    }

    .responsive {
        max-width: 170px;
        height: auto;
    }

}

@media screen and (max-width: 550px) {

    /** Aloitussivu **/

    #Aloitussivu {
        height: 33em; 
    }

    /**Kulmagrafiikat**/

    .topleft img {
        width: 150px;
    }

    .topright img {
        width: 150px;
    }

    .bottomleft img {
        width: 150px;
    }

    .bottomright img {
        width: 150px;
    }

    .topleft {
        top: -2px;
    }
    
    .topright {
        top: -2px;
    }
    .bottomleft {
        bottom: -2px;
    }
    
    .bottomright {
        bottom: -2px;
    }

    /** Kenelle **/

    .responsive {
        max-width: 150px;
        height: auto;
    }

    /** Vinkkinurkka **/

    #forms {
        margin: 2em 0em 2em 0em;
    }

}

@media screen and (max-width: 450px) {
    
    .section {
        height: 34em;
    }

    /** Kenelle **/ 
    .responsive {
        max-width: 120px;
        height: auto;
    }

    .tekstijakuva p {
        font-size: 0.6em;
    }
    

    /** Liity **/

    #Liity h1{
        font-size: 1.4em;
        padding-bottom: 0.8em;
    }

    #liity li {
        padding: 0.6em;
    }

    #Liity li img {
        width: 1.7em;
    }

    #Liity p {
        margin-left: 1.5em;
        font-size: 0.8em;
    }

    .jalka a {
        font-size: 0.8em;
    }
}
